<!DOCTYPE html>
<html lang="en-us">
<style>

video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 10%;
    min-height: 10%;
    object-fit: fill;
}

.content {
    top: 10px;
    position: fixed;
    height: 98%;
    width: 98.5%;
}

div {
    overflow: scrollbar;
}

img{
    position: relative;
    z-index: -1;
}

</style>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Unity WebGL Player | web</title>
    <link rel="shortcut icon" href="../static/TemplateData/favicon.ico">
    <link rel="stylesheet" href="../static/TemplateData/style.css">
  </head>
  <body>
    <div id="unity-container" class="unity-desktop">
      <canvas id="unity-canvas"></canvas>
      <div id="unity-loading-bar">
        <div id="unity-logo"></div>
        <div id="unity-progress-bar-empty">
          <div id="unity-progress-bar-full"></div>
        </div>
      </div>
      <div id="unity-footer">
        <div id="unity-webgl-logo"></div>
        <div id="unity-fullscreen-button"></div>
        <div id="unity-build-title">web</div>
      </div>
    </div>
	<div class="content">
    <main id="camera">
        <video playsinline muted id="camera--view" autoplay height="20%" width="80%"></video>
    </main>
</div>
	<script>
	// Set constraints for the video stream
	var constraints = { video: { facingMode: "environment" }, audio: false };
	// Define constants
	const cameraView = document.querySelector("#camera--view"),
	    cameraOutput = document.querySelector("#camera--output"),
	    cameraSensor = document.querySelector("#camera--sensor"),
	    cameraTrigger = document.querySelector("#camera--trigger")
	// Access the device camera and stream to cameraView
	function cameraStart() {
	    navigator.mediaDevices
		.getUserMedia(constraints)
		.then(function(stream) {
		track = stream.getTracks()[0];
		cameraView.srcObject = stream;
	    })
	    .catch(function(error) {
		console.error("To err is human", error);
	    });
	}
	// Start the video stream when the window loads
	window.addEventListener("load", cameraStart, false);

      var buildUrl = "../static/Build";
      var loaderUrl = buildUrl + "/web.loader.js";
      var config = {
        dataUrl: buildUrl + "/web.data",
        frameworkUrl: buildUrl + "/web.framework.js",
        codeUrl: buildUrl + "/web.wasm",
        streamingAssetsUrl: "StreamingAssets",
        companyName: "DefaultCompany",
        productName: "web",
        productVersion: "0.1",
      };

      var container = document.querySelector("#unity-container");
      var canvas = document.querySelector("#unity-canvas");
      var loadingBar = document.querySelector("#unity-loading-bar");
      var progressBarFull = document.querySelector("#unity-progress-bar-full");
      var fullscreenButton = document.querySelector("#unity-fullscreen-button");

      if (/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)) {
        container.className = "unity-mobile";
        config.devicePixelRatio = 1;
      } else {
        canvas.style.width = "960px";
        canvas.style.height = "600px";
      }
      loadingBar.style.display = "block";

      var script = document.createElement("script");
      script.src = loaderUrl;
      script.onload = () => {
        createUnityInstance(canvas, config, (progress) => {
          progressBarFull.style.width = 100 * progress + "%";
        }).then((unityInstance) => {
          loadingBar.style.display = "none";
          fullscreenButton.onclick = () => {
            unityInstance.SetFullscreen(1);
          };
        }).catch((message) => {
          alert(message);
        });
      };
      document.body.appendChild(script);
    </script>
  </body>
</html>
